@import '../scss/variables';

.ContentSeparatorEmpty{

    background: url('../images/separator.jpg');
    background-size: cover;
    min-height: 350px;
    height: 100%;
    padding:  0;
    background-repeat: no-repeat;
    margin-top: 150px;
}
