@import '../scss/variables';

.ContentSeparator{

    background: url('../images/savings-separator.jpg') #6cba48;
    background-size: cover;
    min-height: 350px;
    height: 100%;
    padding:  0;
    background-repeat: no-repeat;
    background-position-x: -100px;
    margin-top: 150px;
    h1{
        color: #fff;
        @media screen and (min-width: 575px) {
            font-size: 68px;
        }
    }
    .flex{
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 575px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}
