@import '../scss/variables';

.ContentHero{
    background: $color-primary;
    min-height: 350px;
    height: 100%;
    padding: 100px 0;
    em{
        font-style: normal;
        font-weight: bold;
        @media screen and (min-width: 575px) {
            font-size: 28px;
            font-weight: normal;
        }
    }
    p{
        color: #FFF;
        font-size: 16px;
        line-height: 1;
        @media screen and (min-width: 575px) {
            font-size: 20px;
        }
    }
    a{
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }
}
