@import '../scss/variables';

    .carousel-item{
        img{
            width: calc(100vw);
        }
    }

    .carousel-indicators {
        right: 0;
        bottom: calc(25%);
        left: auto;
        flex-direction: column;
        margin-right: 0;
        margin-left: 0;
        li{
            width: 10px;
            height: 10px;
        }
    }