//variables

@import './scss/variables';

body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    color: $color-green-dark;
    font-size: 52px;
}
h2{
    font-size: 36px;
}
.nav-link {
    display: initial; 
    padding: 0; 
}
.btn{
    border-radius: 0;
    background-color: $color-primary;
    border-color: $color-primary;
    padding-right: 64px;
    position: relative;
    color: #fff;
    &::after{
        content: "";
        position: absolute;
        top: calc(50% - 6px);
        right: 40px;
        width: 0; 
        height: 0; 
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #fff;   
    }
}

.btn-group{
    padding: 20px 0 30px;
    > .btn{
        margin-right: 40px;
        &:last-child{
            margin-right: 0;
        }
    }
}

a{
    color: $color-primary;
    &:hover{
        color: $color-green-dark;
    }
}