//variables

$color-gray: #282828;
$color-gray-primary: #f5f5f5;
$color-gray-light: #a0a0a0;

$color-green: #38b046;
$color-green-dark: #106839;
$color-green-yellow: #8ec544;

$color-primary: $color-green;

